USE [master]
GO
/****** Object:  Database [PetNexus]    Script Date: 9/10/2026 8:37:24 PM ******/
-- Data file locations are left to the server default so this script runs on any
-- SQL Server instance. The original export hard-coded a path from the machine
-- it was generated on, which stopped the script running anywhere else.
CREATE DATABASE [PetNexus]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetNexus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetNexus]
GO
/****** Object:  Table [dbo].[adoption_applications]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adoption_applications](
	[application_id] [varchar](255) NOT NULL,
	[applicant_name] [varchar](255) NOT NULL,
	[applicant_phone] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[pet_name] [varchar](255) NOT NULL,
	[review_notes] [varchar](255) NULL,
	[reviewed_at] [datetime2](7) NULL,
	[status] [varchar](255) NOT NULL,
	[applicant_id] [bigint] NOT NULL,
	[case_id] [bigint] NOT NULL,
	[reviewed_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adoption_listings]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adoption_listings](
	[listing_id] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_published_for_adoption] [bit] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[case_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKs3837mck1g3sg5akv9orth206] UNIQUE NONCLUSTERED 
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_id] [varchar](20) NOT NULL,
	[breed] [varchar](100) NULL,
	[cancellation_reason] [varchar](500) NULL,
	[cancelled_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[notes] [varchar](2000) NULL,
	[owner_id] [varchar](20) NULL,
	[owner_name] [varchar](150) NOT NULL,
	[owner_phone] [varchar](50) NULL,
	[pet_id] [varchar](20) NULL,
	[pet_name] [varchar](100) NOT NULL,
	[reason] [varchar](1000) NULL,
	[reschedule_reason] [varchar](500) NULL,
	[rescheduled_from_date] [date] NULL,
	[rescheduled_from_time_slot] [varchar](30) NULL,
	[rescheduled_from_vet_name] [varchar](150) NULL,
	[service_type] [varchar](100) NOT NULL,
	[species] [varchar](50) NULL,
	[status] [varchar](30) NOT NULL,
	[symptoms] [varchar](1000) NULL,
	[time_slot] [varchar](30) NOT NULL,
	[token_number] [varchar](20) NULL,
	[updated_at] [datetime2](7) NULL,
	[vet_id] [varchar](20) NULL,
	[vet_name] [varchar](150) NOT NULL,
	[owner_fk_id] [bigint] NULL,
	[pet_fk_id] [bigint] NULL,
	[vet_fk_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_appointments_appointment_id] UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[approval_history]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](50) NOT NULL,
	[admin_id] [varchar](20) NOT NULL,
	[history_id] [varchar](30) NOT NULL,
	[reason] [varchar](500) NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[user_full_name] [varchar](150) NOT NULL,
	[user_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[care_providers]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[care_providers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NOT NULL,
	[contact_email] [varchar](100) NULL,
	[contact_phone] [varchar](20) NULL,
	[provider_id] [varchar](20) NOT NULL,
	[provider_name] [varchar](100) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_care_provider_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[care_service_logs]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[care_service_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[case_id] [varchar](20) NULL,
	[created_at] [date] NOT NULL,
	[intake_condition] [varchar](500) NULL,
	[notes] [varchar](1000) NULL,
	[owner_id] [varchar](20) NULL,
	[owner_name] [varchar](100) NULL,
	[pet_id] [varchar](20) NULL,
	[pet_name] [varchar](100) NULL,
	[provider_id] [varchar](20) NULL,
	[provider_name] [varchar](100) NULL,
	[return_to_rescue] [bit] NOT NULL,
	[service_date] [date] NOT NULL,
	[service_log_id] [varchar](20) NOT NULL,
	[service_type] [varchar](100) NOT NULL,
	[services_performed] [varchar](1000) NULL,
	[status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_care_service_log_id] UNIQUE NONCLUSTERED 
(
	[service_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[care_services]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[care_services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](500) NULL,
	[duration_minutes] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[service_id] [varchar](20) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[created_by_user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_care_service_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultations]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[appointment_id] [varchar](20) NULL,
	[assessment_diagnosis] [varchar](2000) NOT NULL,
	[case_id] [varchar](30) NULL,
	[consultation_date] [datetime2](7) NOT NULL,
	[consultation_id] [varchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[follow_up_date] [date] NULL,
	[heart_rate_bpm] [int] NULL,
	[objective_findings] [varchar](2000) NULL,
	[pass_to_provider] [bit] NULL,
	[pet_id] [varchar](20) NULL,
	[pet_name] [varchar](100) NOT NULL,
	[rescue_medical_summary] [varchar](2000) NULL,
	[respiratory_rate_bpm] [int] NULL,
	[status] [varchar](30) NULL,
	[subjective_notes] [varchar](2000) NULL,
	[temperaturec] [numeric](4, 1) NULL,
	[treatment_plan] [varchar](2000) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[vet_id] [varchar](20) NULL,
	[vet_name] [varchar](150) NOT NULL,
	[weight_kg] [numeric](5, 2) NULL,
	[appointment_fk_id] [bigint] NULL,
	[pet_fk_id] [bigint] NULL,
	[vet_fk_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_consultations_consultation_id] UNIQUE NONCLUSTERED 
(
	[consultation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comments] [varchar](2000) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[feedback_id] [varchar](30) NOT NULL,
	[manager_responded_at] [datetime2](7) NULL,
	[manager_response] [varchar](2000) NULL,
	[rating] [int] NOT NULL,
	[service_category] [varchar](100) NOT NULL,
	[staff_mentioned] [varchar](150) NULL,
	[title] [varchar](200) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[user_name] [varchar](150) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_feedback_feedback_id] UNIQUE NONCLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foster_records]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foster_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active_placements] [int] NULL,
	[address] [varchar](300) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[email] [varchar](150) NULL,
	[foster_id] [varchar](30) NOT NULL,
	[full_name] [varchar](150) NOT NULL,
	[home_type] [varchar](200) NULL,
	[max_capacity] [int] NULL,
	[phone] [varchar](30) NULL,
	[rating] [numeric](3, 1) NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_foster_records_foster_id] UNIQUE NONCLUSTERED 
(
	[foster_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_items]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NULL,
	[category] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[current_stock] [int] NOT NULL,
	[expiry_date] [date] NULL,
	[item_id] [varchar](20) NOT NULL,
	[min_stock_threshold] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[selling_price] [numeric](10, 2) NOT NULL,
	[sku] [varchar](50) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[supplier_name] [varchar](150) NULL,
	[unit] [varchar](50) NOT NULL,
	[unit_price] [numeric](10, 2) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[supplier_fk_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_inventory_items_item_id] UNIQUE NONCLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_inventory_items_sku] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_read] [bit] NOT NULL,
	[link] [varchar](300) NULL,
	[message] [varchar](1000) NOT NULL,
	[notification_id] [varchar](40) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[type] [varchar](30) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_notifications_notification_id] UNIQUE NONCLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_documents]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_documents](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [varchar](20) NOT NULL,
	[document_type] [varchar](100) NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_size] [varchar](50) NULL,
	[file_url] [varchar](1000) NULL,
	[notes] [varchar](2000) NULL,
	[owner_id] [varchar](20) NOT NULL,
	[pet_name] [varchar](100) NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
	[pet_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_pet_documents_document_id] UNIQUE NONCLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pets]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[age_months] [int] NULL,
	[age_years] [int] NULL,
	[allergies] [varchar](500) NULL,
	[breed] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[date_of_birth] [date] NULL,
	[emergency_contact] [varchar](300) NULL,
	[gender] [varchar](30) NULL,
	[image_url] [varchar](500) NULL,
	[medical_notes] [varchar](2000) NULL,
	[microchip_id] [varchar](20) NULL,
	[name] [varchar](100) NOT NULL,
	[pet_id] [varchar](20) NOT NULL,
	[species] [varchar](50) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[weight_kg] [numeric](5, 2) NULL,
	[owner_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_pets_pet_id] UNIQUE NONCLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dosage] [varchar](100) NULL,
	[duration_days] [int] NULL,
	[frequency] [varchar](100) NULL,
	[item_id] [varchar](50) NOT NULL,
	[medication_name] [varchar](200) NOT NULL,
	[prescription_id] [varchar](30) NULL,
	[quantity_prescribed] [int] NULL,
	[refills_allowed] [int] NULL,
	[prescription_fk_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_prescription_items_item_id] UNIQUE NONCLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[consultation_id] [varchar](30) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[digital_signature] [varchar](300) NULL,
	[instructions] [varchar](1000) NULL,
	[issue_date] [date] NOT NULL,
	[owner_name] [varchar](150) NULL,
	[pet_id] [varchar](20) NULL,
	[pet_name] [varchar](100) NOT NULL,
	[prescription_id] [varchar](30) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[valid_until] [date] NULL,
	[vet_id] [varchar](20) NULL,
	[vet_license] [varchar](50) NULL,
	[vet_name] [varchar](150) NOT NULL,
	[consultation_fk_id] [bigint] NULL,
	[pet_fk_id] [bigint] NULL,
	[vet_fk_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_prescriptions_rx_id] UNIQUE NONCLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[items_description] [varchar](1000) NULL,
	[order_id] [varchar](30) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[supplier_id] [varchar](20) NULL,
	[supplier_name] [varchar](150) NOT NULL,
	[total_amount] [numeric](12, 2) NOT NULL,
	[notes] [varchar](500) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_purchase_orders_order_id] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rescue_cases]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rescue_cases](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[breed] [varchar](100) NULL,
	[case_id] [varchar](30) NOT NULL,
	[case_number] [varchar](20) NULL,
	[condition_severity] [varchar](20) NULL,
	[cover_photo_url] [varchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[description] [varchar](2000) NULL,
	[estimated_age] [varchar](50) NULL,
	[foster_parent_id] [varchar](30) NULL,
	[foster_parent_name] [varchar](150) NULL,
	[gender] [varchar](20) NULL,
	[intake_date] [date] NOT NULL,
	[intake_officer] [varchar](150) NULL,
	[is_published_for_adoption] [bit] NOT NULL,
	[medical_summary] [varchar](2000) NULL,
	[microchip_id] [varchar](50) NULL,
	[rescue_location] [varchar](500) NOT NULL,
	[species] [varchar](50) NULL,
	[status] [varchar](30) NOT NULL,
	[temporary_name] [varchar](100) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[rescue_officer_fk_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_rescue_cases_case_id] UNIQUE NONCLUSTERED 
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rescue_photos]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rescue_photos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[caption] [varchar](300) NULL,
	[case_id] [varchar](30) NOT NULL,
	[photo_id] [varchar](30) NOT NULL,
	[photo_url] [varchar](500) NOT NULL,
	[tag] [varchar](50) NULL,
	[uploaded_at] [datetime2](7) NULL,
	[rescue_case_fk_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_rescue_photos_photo_id] UNIQUE NONCLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rescue_progress_logs]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rescue_progress_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[case_id] [varchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[log_date] [datetime2](7) NOT NULL,
	[log_id] [varchar](30) NOT NULL,
	[log_type] [varchar](30) NULL,
	[logged_by] [varchar](150) NOT NULL,
	[notes] [varchar](2000) NULL,
	[title] [varchar](200) NOT NULL,
	[rescue_case_fk_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_rescue_progress_logs_log_id] UNIQUE NONCLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package_bookings]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package_bookings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [varchar](20) NOT NULL,
	[completed_sessions] [int] NOT NULL,
	[created_at] [date] NOT NULL,
	[expiry_date] [date] NOT NULL,
	[owner_id] [varchar](20) NOT NULL,
	[package_name] [varchar](100) NOT NULL,
	[purchase_date] [date] NOT NULL,
	[remaining_sessions] [int] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[total_sessions] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_service_package_booking_id] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NOT NULL,
	[address] [varchar](300) NULL,
	[category] [varchar](100) NULL,
	[company_name] [varchar](150) NOT NULL,
	[contact_person] [varchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[lead_time_days] [int] NOT NULL,
	[phone] [varchar](30) NULL,
	[rating] [numeric](3, 1) NOT NULL,
	[supplier_id] [varchar](20) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_suppliers_supplier_id] UNIQUE NONCLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](300) NULL,
	[avatar_url] [varchar](500) NULL,
	[badge_number] [varchar](30) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[emergency_contact] [varchar](200) NULL,
	[full_name] [varchar](150) NOT NULL,
	[license_number] [varchar](50) NULL,
	[manager_code] [varchar](30) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[password_reset_token] [varchar](100) NULL,
	[phone] [varchar](30) NULL,
	[rejection_reason] [varchar](500) NULL,
	[role] [varchar](30) NOT NULL,
	[service_specialty] [varchar](150) NULL,
	[specialization] [varchar](150) NULL,
	[staff_id] [varchar](30) NULL,
	[status] [varchar](40) NOT NULL,
	[suspension_reason] [varchar](500) NULL,
	[updated_at] [datetime2](7) NULL,
	[user_id] [varchar](20) NOT NULL,
	[approval_token] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_users_user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vaccinations]    Script Date: 9/10/2026 8:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vaccinations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[administered_by] [varchar](150) NULL,
	[administered_date] [date] NULL,
	[batch_number] [varchar](50) NULL,
	[next_due_date] [date] NULL,
	[pet_name] [varchar](100) NULL,
	[status] [varchar](30) NULL,
	[vaccine_id] [varchar](20) NOT NULL,
	[vaccine_name] [varchar](200) NOT NULL,
	[pet_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_vaccinations_vaccine_id] UNIQUE NONCLUSTERED 
(
	[vaccine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_appointments_date_slot]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_appointments_date_slot] ON [dbo].[appointments]
(
	[appointment_date] ASC,
	[time_slot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_appointments_owner]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_appointments_owner] ON [dbo].[appointments]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_appointments_pet]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_appointments_pet] ON [dbo].[appointments]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_appointments_vet_date]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_appointments_vet_date] ON [dbo].[appointments]
(
	[vet_id] ASC,
	[appointment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_approval_history_user_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_approval_history_user_id] ON [dbo].[approval_history]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultations_appointment_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultations_appointment_id] ON [dbo].[consultations]
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultations_case_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultations_case_id] ON [dbo].[consultations]
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultations_pet_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultations_pet_id] ON [dbo].[consultations]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultations_vet_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultations_vet_id] ON [dbo].[consultations]
(
	[vet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_feedback_category]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_feedback_category] ON [dbo].[feedback]
(
	[service_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_feedback_user]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_feedback_user] ON [dbo].[feedback]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_inventory_items_category]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_inventory_items_category] ON [dbo].[inventory_items]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_inventory_items_status]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_inventory_items_status] ON [dbo].[inventory_items]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notifications_is_read]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_notifications_is_read] ON [dbo].[notifications]
(
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notifications_user]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_notifications_user] ON [dbo].[notifications]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_prescription_items_rx_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_prescription_items_rx_id] ON [dbo].[prescription_items]
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_prescriptions_consultation_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_prescriptions_consultation_id] ON [dbo].[prescriptions]
(
	[consultation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_prescriptions_pet_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_prescriptions_pet_id] ON [dbo].[prescriptions]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_prescriptions_vet_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_prescriptions_vet_id] ON [dbo].[prescriptions]
(
	[vet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rescue_cases_published]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_rescue_cases_published] ON [dbo].[rescue_cases]
(
	[is_published_for_adoption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rescue_cases_status]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_rescue_cases_status] ON [dbo].[rescue_cases]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rescue_photos_case_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_rescue_photos_case_id] ON [dbo].[rescue_photos]
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rescue_logs_case_id]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_rescue_logs_case_id] ON [dbo].[rescue_progress_logs]
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rescue_logs_log_date]    Script Date: 9/10/2026 8:37:25 PM ******/
CREATE NONCLUSTERED INDEX [idx_rescue_logs_log_date] ON [dbo].[rescue_progress_logs]
(
	[log_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adoption_applications]  WITH CHECK ADD  CONSTRAINT [FKpssmak6donrlh7l463qtlkxx4] FOREIGN KEY([case_id])
REFERENCES [dbo].[rescue_cases] ([id])
GO
ALTER TABLE [dbo].[adoption_applications] CHECK CONSTRAINT [FKpssmak6donrlh7l463qtlkxx4]
GO
ALTER TABLE [dbo].[adoption_applications]  WITH CHECK ADD  CONSTRAINT [FKrlnujyyfb9sbrtjw3y7ph3kvv] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[adoption_applications] CHECK CONSTRAINT [FKrlnujyyfb9sbrtjw3y7ph3kvv]
GO
ALTER TABLE [dbo].[adoption_applications]  WITH CHECK ADD  CONSTRAINT [FKvw031wcwn8gl97r8pmu63ntk] FOREIGN KEY([applicant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[adoption_applications] CHECK CONSTRAINT [FKvw031wcwn8gl97r8pmu63ntk]
GO
ALTER TABLE [dbo].[adoption_listings]  WITH CHECK ADD  CONSTRAINT [FKcdr2kc9eruujmg8y53jjuub2g] FOREIGN KEY([case_id])
REFERENCES [dbo].[rescue_cases] ([id])
GO
ALTER TABLE [dbo].[adoption_listings] CHECK CONSTRAINT [FKcdr2kc9eruujmg8y53jjuub2g]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_owner] FOREIGN KEY([owner_fk_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_owner]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_pet] FOREIGN KEY([pet_fk_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_pet]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_vet] FOREIGN KEY([vet_fk_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_vet]
GO
ALTER TABLE [dbo].[care_providers]  WITH CHECK ADD  CONSTRAINT [fk_care_provider_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[care_providers] CHECK CONSTRAINT [fk_care_provider_user]
GO
ALTER TABLE [dbo].[care_services]  WITH CHECK ADD  CONSTRAINT [fk_care_service_user] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[care_services] CHECK CONSTRAINT [fk_care_service_user]
GO
ALTER TABLE [dbo].[consultations]  WITH CHECK ADD  CONSTRAINT [fk_consultations_appointment] FOREIGN KEY([appointment_fk_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[consultations] CHECK CONSTRAINT [fk_consultations_appointment]
GO
ALTER TABLE [dbo].[consultations]  WITH CHECK ADD  CONSTRAINT [fk_consultations_pet] FOREIGN KEY([pet_fk_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[consultations] CHECK CONSTRAINT [fk_consultations_pet]
GO
ALTER TABLE [dbo].[consultations]  WITH CHECK ADD  CONSTRAINT [fk_consultations_vet] FOREIGN KEY([vet_fk_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[consultations] CHECK CONSTRAINT [fk_consultations_vet]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [fk_feedback_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [fk_feedback_user]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [fk_inventory_items_supplier] FOREIGN KEY([supplier_fk_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [fk_inventory_items_supplier]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notifications_user]
GO
ALTER TABLE [dbo].[pet_documents]  WITH CHECK ADD  CONSTRAINT [fk_pet_documents_pet] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[pet_documents] CHECK CONSTRAINT [fk_pet_documents_pet]
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD  CONSTRAINT [fk_pets_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pets] CHECK CONSTRAINT [fk_pets_owner]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_rx_items_prescription] FOREIGN KEY([prescription_fk_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_rx_items_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_consultation] FOREIGN KEY([consultation_fk_id])
REFERENCES [dbo].[consultations] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_consultation]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_pet] FOREIGN KEY([pet_fk_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_pet]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_vet] FOREIGN KEY([vet_fk_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_vet]
GO
ALTER TABLE [dbo].[rescue_cases]  WITH CHECK ADD  CONSTRAINT [fk_rescue_cases_officer] FOREIGN KEY([rescue_officer_fk_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rescue_cases] CHECK CONSTRAINT [fk_rescue_cases_officer]
GO
ALTER TABLE [dbo].[rescue_photos]  WITH CHECK ADD  CONSTRAINT [fk_rescue_photos_case] FOREIGN KEY([rescue_case_fk_id])
REFERENCES [dbo].[rescue_cases] ([id])
GO
ALTER TABLE [dbo].[rescue_photos] CHECK CONSTRAINT [fk_rescue_photos_case]
GO
ALTER TABLE [dbo].[rescue_progress_logs]  WITH CHECK ADD  CONSTRAINT [fk_rescue_logs_case] FOREIGN KEY([rescue_case_fk_id])
REFERENCES [dbo].[rescue_cases] ([id])
GO
ALTER TABLE [dbo].[rescue_progress_logs] CHECK CONSTRAINT [fk_rescue_logs_case]
GO
ALTER TABLE [dbo].[vaccinations]  WITH CHECK ADD  CONSTRAINT [fk_vaccinations_pet] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[vaccinations] CHECK CONSTRAINT [fk_vaccinations_pet]
GO
ALTER TABLE [dbo].[adoption_applications]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='UNDER_REVIEW' OR [status]='SUBMITTED'))
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD CHECK  (([status]='NoShow' OR [status]='Cancelled' OR [status]='Completed' OR [status]='InRoom' OR [status]='CheckedIn' OR [status]='Confirmed' OR [status]='Pending' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[care_service_logs]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='READY_FOR_PICKUP' OR [status]='IN_PROGRESS' OR [status]='CHECKED_IN' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[care_services]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='READY_FOR_PICKUP' OR [status]='IN_PROGRESS' OR [status]='CHECKED_IN' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='OUT_OF_STOCK' OR [status]='LOW_STOCK' OR [status]='IN_STOCK'))
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([type]='System' OR [type]='Health' OR [type]='Inventory' OR [type]='Approval' OR [type]='Adoption' OR [type]='Rescue' OR [type]='Appointment'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='Admin' OR [role]='RescueOfficer' OR [role]='ClinicManager' OR [role]='PetCareProvider' OR [role]='ClinicStaff' OR [role]='Veterinarian' OR [role]='PetOwner'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='Suspended' OR [status]='Rejected' OR [status]='Active' OR [status]='PendingApproval' OR [status]='PendingEmailVerification'))
GO
USE [master]
GO

